# --------------------------------------
# Docker Compose file for Gitea, Jenkins, and Local Docker Registry
# Purpose: Set up a local CI/CD environment
# Target: Local development using Docker
# --------------------------------------

version: "3.8"

networks:
  cicd-net:
    driver: bridge

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea-server
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__webhook__ALLOWED_HOST_LIST=jenkins-server,172.20.0.0/16
    volumes:
      - gitea-data:/data
    ports:
      - "8081:3000"
      - "222:22" # Dev Note: Gitea SSH
    networks:
      - cicd-net
    restart: always

  jenkins:
    build:
      context: ./jenkins
      dockerfile: dockerfile
    container_name: jenkins-server
    privileged: true
    user: root
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      #- /usr/bin/docker:/usr/bin/docker
      #- /usr/local/bin/kubectl:/usr/local/bin/kubectl
      #- /usr/local/bin/trivy:/usr/local/bin/trivy
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - cicd-net
    restart: always

  registry:
    image: registry:2
    container_name: local-docker-registry
    ports:
      - "5000:5000"
    networks:
      - cicd-net
    restart: always

  # Dev Note: Ollama service for AI Agent integration in CI/CD pipeline.
  ollama:
    image: alpine/ollama:latest # using alpine based for smaller size and faster startup.
    container_name: ollama-server
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - cicd-net
    restart: always

# REMINDER: Define the named volumes for data persistence.
volumes:
  gitea-data:
  jenkins-data:
  ollama-data:
