# --------------------------------------
# Docker Compose file for Gitea, Jenkins, and Local Docker Registry
# Purpose: Set up a local CI/CD environment
# Target: Local development using Docker
# --------------------------------------

networks:
  cicd-net:
    external: true
    name: big-project-2-cicd-pipeline_cicd-net

services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea-server
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__webhook__ALLOWED_HOST_LIST=jenkins-server,loopback,private
    volumes:
      - gitea-data:/data
    ports:
      - "8081:3000"
      - "222:22" # Dev Note: Gitea SSH
    networks:
      - cicd-net
    restart: always

  jenkins:
    build:
      context: .
      dockerfile: jenkins/Dockerfile
    container_name: jenkins-server
    privileged: true
    user: root
    # Add a custom environment variable for a CASC config (future use, but good structure)
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      # # TRUST FIX: Mount the Root CA directly into Jenkins' trusted store
      # - ./certs/rootCA.pem:/usr/local/share/ca-certificates/my-root-ca.crt
      #- /usr/bin/docker:/usr/bin/docker
      #- /usr/local/bin/kubectl:/usr/local/bin/kubectl
      #- /usr/local/bin/trivy:/usr/local/bin/trivy
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - cicd-net
    restart: always

  registry:
    image: registry:2
    container_name: local-docker-registry
    environment:
      # NATIVE TLS CONFIGURATION FOR THE REGISTRY
      - REGISTRY_HTTP_ADDR=0.0.0.0:5000
      - REGISTRY_HTTP_TLS_CERTIFICATE=/certs/local-docker-registry.pem
      - REGISTRY_HTTP_TLS_KEY=/certs/local-docker-registry-key.pem
    volumes:
      - ./certs:/certs:ro # Mount the certs read-only
      - registry-data:/var/lib/registry # Persist registry data
    ports:
      - "5000:5000"
    networks:
      - cicd-net
    restart: always

# REMINDER: Define the named volumes for data persistence.
volumes:
  gitea-data:
  jenkins-data:
  registry-data:
