apiVersion: v1
kind: Config
clusters:
  - name: k3d-devops-cluster
    cluster:
      server: https://host.docker.internal:6550
      certificate-authority-data: YOUR BASE64_CA
users:
  - name: jenkins-admin
    user:
      token: SERVICE_ACCOUNT_TOKEN (starting with ey...)
contexts:
  - name: k3d-devops-cluster
    context:
      cluster: k3d-devops-cluster
      user: jenkins-admin
      namespace: default
current-context: k3d-devops-cluster
